.container {
  max-width: 100%;
  margin: auto 0px;
  padding: 20px;
  font-family: Arial;
}

.title {
  text-align: center;
}

.refresh {
  width: 120px;
  height: 40px;
  font-size: 17px;
  background-color: aliceblue;
  color: black;
  border-radius: 10px;
  margin: 20px auto;
}

.time {
  
}